<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FIGURA GEOMETRICA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-select (ionChange)="ManejarSeleccionGeometrica($event)"   label="FIGURA GEOMETRICA" placeholder="Escoja la figura" text-align="right">
    <ion-select-option  value="circulo">circulo</ion-select-option>
    <ion-select-option value="triangulo">Triangulo</ion-select-option>
  </ion-select>
  
  <app-circulo *ngIf="esCirculo()" />
  <app-triangulo *ngIf="esTriangulo()"/>
</ion-content>